<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Buscar Producto</title>
<link rel="shortcut icon" href="/imagen/icon.png" type="image/png"></link>

<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<form th:action="@{/product/buscar}" method="post"
			th:object="${product}">
			<div class="form-group">
				<label for="codeProduct">Buscar:</label> <input type="text"
					class="form-control" th:field="*{codeProduct}" id="codeProduct"></input>
			</div>
			<button type="submit" class="btn btn-success">Aceptar</button>
			<a href="/product/listar" class="btn btn-danger">Cancelar</a>

		</form>

		<table class="table table-bordered table-hover table-striped"
			id="tab_logic">
			<thead>
				<tr>
					<th class="text-center">N°</th>
					<th class="text-center">NOMBRE</th>
					<th class="text-center">CODIGO</th>
					<th class="text-center">COSTO</th>
					<th class="text-center">STOCK</th>
					<th class="text-center">CATEGORIA</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p: ${listaProducts}">
					<td class="text-center"><a class="btn btn-primary btn-xs"
						th:href="@{/product/ver/} + ${p.idProduct}"
						th:text="${p.idProduct}"></a></td>
					<td th:text="${p.nameProduct}"></td>
					<td th:text="${p.codeProduct}"></td>
					<td th:text="${p.costProduct}"></td>
					<td th:text="${p.stockProduct}"></td>
					<td th:text="${p.category.nameCategory}"></td>
				</tr>
			</tbody>
		</table>


		<div th:if="${mensaje}" class="alert alert-info">
			<p th:text="${mensaje}"></p>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
