<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Kebeya</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

<h2 align="left">Contacto</h2>
<hr/>
<img src="/images/html5.gif" align="right">
<dl>
<dt>Información legal</dt>  
  <dd>	La empresa se dedica a la fabricación y venta de prendas de vestir y accesorios</dd>
  <dd>- RUC: 20507815937</dd>
</dl>
<dl>
  <dt>Visita nuestras tiendas:</dt>  
  <dd>- Jr. Gamarra 610 La victoria </dd>
  <dd>- Jr. de la Unión 463 Centro de Lima</dd>
  <dd>- Jr. balta 1345 Chiclayo</dd>
 </dl>
 <dl>
  <dt>Escríbenos a: </dt>
  <dd>- kebeya_f@hotmail.com</dd>
</dl>

<div class="form-group">
<label>Y síguenos en nuestras redes sociales:</label>
<div>
<a href="https://www.facebook.com/kebeyafashion/">
  <img src="/images/html5.gif" alt="Facebook" style="width:50px;height:50px;border:1;">
</a>
<a href="https://twitter.com/kebeyafashion?lang=es">
  <img src="/images/html5.gif" alt="Twitter" style="width:50px;height:50px;border:1;">
  
</a>
<a href="https://www.instagram.com/kebeyafashion/">
  <img src="/images/html5.gif" alt="Instagram" style="width:50px;height:50px;border:1;">
  </a>
</div>
</div>
</body>
</html>